.deliveryAddress {
  display: grid;
  grid-template-columns: 1fr;
}

.label {
  font-weight: 700;
  color: #666666;
}

.invalid {
  margin-top: .5em;
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
  border-color: solid red 2px;
}

.errorMessage {
  color:red;
  font-weight: 400;
  font-size: 12px;
}
