.deliveryAddress {
  display: grid;
  grid-template-columns: 1fr;
}

.label {
  font-weight: 700;
  color: #666666;
}

.errorMessage {
  color:red;
  font-weight: 400;
  font-size: 12px;
}

.errorBorder{
  margin-top: .5em;
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
  border: red dotted 3px
}

.input {
  margin-top: .5em;
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
  margin-bottom: 1em;
}