.deliveryAddress {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em
}

.label {
  font-weight: 700;
  color: #666666;
}

.redDanger {
border-color: red;
background-color:red;
border:2px;

}
.errorMessage {
  color:red;
  font-weight: 600;
  margin: 0;
  font-size: 14px;
}
