.productDetailContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px 50px 10px;
  row-gap: 1em;
  column-gap: 3em;
  padding: 0 3em 0 3em;
}

.label {
  font-weight: 700;
  color: #666666;
}
.errorMessage {
  color: red;
  margin-top: 2px;
  margin-bottom: 2px;
}
.item1 {
  grid-area: 1 / 1;
}
.item2 {
  grid-area: 3 / 1;
}
.item3 {
  grid-area: 5 / 1;
}
.item4 {
  grid-area: 7 / 1;
}
.item5 {
  grid-area: 9 / 1;
}
.item6 {
  grid-area: 11 / 1;
}
.item7 {
  grid-area: 13 / 1;
}
.item8 {
  grid-area: 15 / 1;
}
.item9 {
  grid-area: 17 / 1;
}
.item10 {
  grid-area: 1 / 2;
}
.item11 {
  grid-area: 3 / 2;
}
.item12 {
  grid-area: 5 / 2;
}
.item13 {
  grid-area: 7 / 2;
}
.item14 {
  grid-area: 9 / 2;
}
.item15 {
  grid-area: 11 / 2;
}
.item16 {
  grid-area: 13 / 2;
}
.item17 {
  grid-area: 15 / 2;
}