.overlay {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.422);
    z-index: 1000;
}
.modal-content {
    position:fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    z-index: 2000;
}

.modal-header {
    height:min-content;
    justify-content: space-between;
}

.modal-footer {
   height:min-content;
    align-items: center;
    justify-content: space-around;
}

.modal-body {
    height: fit-content;
    border-top: 3px solid rgba(255, 0, 0, 0.368);
    border-bottom: 3px solid rgba(255, 0, 0, 0.368);
}

.title {
    justify-content: flex-start;
}
.price{
    color: #000;
}
.category {
    justify-content: center;
}