.header {
    background: black;
    top: 0;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 25px;
    padding-right: 25px;
    position: sticky;
    z-index: 3;
}
#home {
    float: left;
    max-width: 175px;
    max-height: 100px;
    overflow: hidden;
}
img {
    width: 100%;
    object-fit: contain;
}
#cart {
    float: right;
    padding-right: 10px;
    max-height: 100px;
    max-width: 50px;
    overflow: hidden;
}
#maint {
  float: left;
  padding-right: 25px;
  max-height: 100px;
  max-width: 50px;
  overflow: hidden;
}
#googleLogin {
    float: right;
    padding-right: 10px;
}
#googleLogout {
    float: right;
    padding-right: 10px;
}
