.header {
    background: black;
    top: 0;
    width: 98%;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 25px;
    padding-right: 25px;
    position: sticky;
    z-index: 3;
}
#home {
    float: left;
    max-width: 175px;
    max-height: 100px;
    overflow: hidden;
}
img {
    width: 100%;
    object-fit: contain;
}
#cart {
    float: right;
    padding-right: 25px;
    padding-right: 35px;
    max-height: 100px;
    max-width: 50px;
    overflow: hidden;
    position: relative;
}
#maint {
  float: left;
  padding-top: 5px;
  padding-right: 20px;
  max-height: 100px;
  height: 50px;
  max-width: 50px;
  overflow: hidden;
  color: white;
}
#googleLogin {
    float: right;
    padding-right: 25px;
}
.firstName {
    color: white;
    float: left;
    padding-top: 10px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;

}
.lastName {
    color: white;
    float: left;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    padding-right: 25px;

}
#googleLogout {
    float: right;
    padding-right: 25px;
}
#cart-icon {
    top: 0;
    right: 0;
    position: absolute;
    padding-right: 25px;
    padding-right: 35px;
    padding-top: 7px;
}
#viewProfile{
    float: left;
    padding-right: 25px; 
    padding-top: 7px;
}

