.footer{ 
    padding-top: 20px;   
    bottom: 0;
    left: 0;
    width: 100%;
  }
  #totop{
    float: right;
    padding-right: 25px;
    max-height: 100px;
    max-width: 50px;
    overflow: hidden;
  }