.app {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(5, auto);
  justify-content: space-evenly;
  margin: 20px;
}

.errMsg {
  color: red;
  font-size: 14px;
  margin: 0px 2px 4px 4px;
}

.page {
float: center;
}

.hide{
  display: none;
}

.button {
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
}
