.subtotal {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.price {
  justify-self: end;
}
h1 {
  background-color: black;
  color: red;
  font-size: 50px;
  text-align: center;
  width: 400px;
}
