h1 {
  color: red;
  font-size: 30px;
  height: 50px;
  text-align: center;
}

.subtotal {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.shipping {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.subtotal .price {
  justify-self: end;
}

.shipping .price {
  justify-self: end;
}




